@font-face {
     font-family: myFont;
     src: url("../fonts/Poppins-SemiBold.ttf");
   }
*{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
     font-family: myFont, 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.outerHolder{
     height: 100vh;
     // background-color: rgba(0,0,0,0.5);
     display: grid;
     place-items: center;
     position: relative;
     .containingElement {
          width: 300px;
          background-color: rgba(255, 255, 255, 0.6);
          border-radius: 10px;
          background-color: rgba(0,0,0,0.5);
          box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
          display: flex;
          padding: 10px;
          flex-direction: column;
     }    
     a{
          position: absolute;
          text-decoration: none;
          padding: 7px 10px;
          background-image: linear-gradient(90deg, red, magenta);
          color: white;
          transition: 0.5s ease;
          outline: none;
          border: 2px solid transparent;
     }
     a:hover{
          -webkit-text-fill-color: transparent;
          -webkit-background-clip: text;
          border: 2px solid magenta;
     }
     .myBtn{
          right: 10px ;
          top: 10px;
     } 
     .home{
          left: 10px;
          top: 10px;
     }
}
.containingElement {
     .imageHolder{
          width: 150px;
          height: 150px;
          background-color: lightgray;
          border-radius:50%;
          margin: 10px auto;
     }
     input[type = text], input[type = password], input[type = email]{
          padding: 5px 15px;
          border: 2px solid transparent;
          outline: none;

     }
     input[type = submit]{
          margin-top: 15px;
          padding: 7px;
          border: none;
          background-image: linear-gradient(90deg, red, magenta);
          color: white;
     }
     input[type = text]:hover , input[type = password]:hover,  input[type = email]:hover,
     input[type = text]:focus , input[type = password]:focus, input[type = email]:focus{
          border-bottom: 2px solid red;
     }
     .passwordShower{
          display: flex;
          padding: 10px;
          align-items: center;
          .box{
               width: 20px;
               height: 20px;
               background-color: white;
               margin-right: 10px;
               display: flex;
               justify-content: center;
               align-items: center;
          }
          #boxContent{
               user-select: none;
          }
     }
}